.sendMessage{
    font-size: 18px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.sendMessageForm{
    width: 100%;
    display: flex;
}
.sendMessageInput{
    width: 100%;
    padding: 10px 15px;
}