.message{
    max-width: 360px;
    width: 100%;
    margin: 0px auto;
    border-radius: 5px;
    border: 1px solid #555;
    padding: 15px;
    transition: all .3s ease-out;
}
.message:hover{
    background-color: #61dafb;
}
.message:hover .messageText{
    color: #fff;
}
.messageText{
    font-size: 18px;
    color: #222;
}